<!-- FOOTER -->
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<div class="container">
    <hr>
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019 Facultad de Ingenieria Industrial y de Sistemas. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>


</body>
</html>
<include file="/resources/static/footer.jsp" %>