<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRES COPITAS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="css/helpers.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .hero {
        background: url(imagenes/banner2.jpg) center / cover ;
        }
    </style>

  </head>
  <body>
    <!--cabecera-->
    <header class="hero-body">
      <!--baneer-->  
         <section class="hero is-full-weidght has-text-centered  center">
            <br> 
            <h1 class="title is-1 has-text-white ">TRES COPITAS</h1>
 
             <br>
         </section> 
     
     <!--baneer-->   

     <!--Menu navegacion-->   
         <div class="hero-head has-background-black-ter">
             <div class="columns is-mobile is-marginless heading has-text-weight-bold has-text-white ">
                     <div class="column left desktop">
                         <figure class="navbar-item image"><img src="https://media.istockphoto.com/vectors/four-wine-glasses-and-bottle-business-logo-winery-concept-stock-vector-id986434014" style="width: 2rem "></figure>
                         <p class="navbar-item"><a href="index.html">INICIO</a></p>
                         <p class="navbar-item"><a href="productos.html" >PRODUCTOS</a></p>    
                         <p class="navbar-item"><a href="contactanos.html">CONTACTANOS</a></p>    
                         <p class="navbar-item"><a href="ayuda.html">AYUDA</a></p>        
                     </div>
                 <div class="column center">
                     <p class="navbar-item"><a href="https://es-la.facebook.com/" target="_blank"><img src="https://www.shareicon.net/data/128x128/2017/06/28/888039_logo_512x512.png" style="width: 2rem; height: 2.2rem" alt="">&nbsp</a></p>
                     <p class="navbar-item"><a href="https://twitter.com/?lang=es" target="_blank"><img src="http://aux2.iconspalace.com/uploads/twitter-icon-256-2130177043.png" style="width: 2rem; height: 2.2rem" alt="">&nbsp</a></p>
                     <p class="navbar-item"><a href="https://www.youtube.com/" target="_blank"><img src="http://pngimg.com/uploads/youtube/youtube_PNG12.png" style="width: 2.2rem; height: 2rem" alt=""></a></p>  
                 </div>
                 
                 <div id="usuario_logeado" class="column right" >
                    <div v-if='usuarios[0].user_name != null'> 
                      <p class="navbar-item has-text-white" >{{usuarios[0].user_name}} &nbsp&nbsp 
                          <a href="login.html">
                                <figure class="navbar-item image">
                                        <img src="https://image.flaticon.com/icons/svg/61/61623.svg" style="width: 3rem">
                                      </figure> 
                          </a>
                        </p>
                    </div>  

                    <div v-if='usuarios[0].user_name == null'> 
                      <p class="navbar-item" ><a href="login.html">INICIAR SESION</a></p>
                      <figure class="navbar-item image"><img src="https://image.flaticon.com/icons/svg/61/61623.svg" style="width: 3rem"></figure>
                    </div>  
                 </div>
             </div>
         </div>
     <!--Menu navegacion-->   
   </header>
<!--Cuerpo de Pagina-->

<div id="lista_productos">
    <h1 class="title has-text-centered">Añadir producto al carrito</h1>
    
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="img center">
                        <img 
                        :src='productos[0].imagen_source'
                        width="200" height="200" alt="{{}}">  
                </figure>
                
            </div>

            <div class="column">
                <form method = "post" action = "/registro_producto">
                    <div class="field">
                        <p>Nombre</p>
                        <div class="control">
                            <input class="input" type="text" :value='productos[0].nombre' name="nom">
                        </div>
                    </div>
        
                    <div class="field">
                        <p>ID</p>
                        <div class="control">
                            <input class="input" type="text" :value='productos[0].id' name="id_producto">
                        </div>
                    </div>
                    <div class="field">
                        <p>Precio</p>
                        <div class="control">
                            <input class="input" type="text" :value='productos[0].precio' name="precio">
                        </div>
                    </div>
        
                    <div class="field">
                        <p>Cantidad</p>
                        <div class="control">
                            <input class="input" type="number" placeholder="Escriba la cantidad" name="cantidad" >
                        </div>
                    </div>
        
                    
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Submit</button><a href="carrito.html">Ver carrito de compras</a>
                        </div>
                    </div>
        
                </form>
                
            </div>
        </div>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#usuario_logeado',
        data: {
            usuarios: []
        },
        created: function(){
            this.getUsuarios();
        },
        methods: {
            getUsuarios: function () {
                axios.get('http://localhost:8186/user_logeado')
                    .then(response => {
                    this.usuarios = response.data
                }).catch( e => {
                    console.log(e)
                })
            }
        }
    })

    const app_1 = new Vue({
      el: '#lista_productos',
      data: {
          productos: []
      },
      created: function(){
          this.getProductos();
      },
      methods: {
          getProductos: function () {
              axios.get('http://localhost:8186/lista_productos')
              .then(response => {
                  this.productos = response.data
              }).catch( e => {
                  console.log(e)
              })
          }
      }
  })

</script>

<br>

<footer class="section has-background-dark">
    <p class="text has-text-white has-text-centered">&copy; 2019 Facultad de Ingenieria Industrial y de Sistemas <br> Proyecto - Programación Orientada a Objetos
    <div class="column heading desktop has-text-centered"><a href="#">Privacy&nbsp&nbsp</a> <a href="#">Terms</a></div>

    </p>
</footer>

</body>
</html>
